/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.success {
  --mdc-snackbar-container-color: #4caf50;
  --mdc-snackbar-supporting-text-color: rgb(17, 49, 32);
}

.error {
  --mdc-snackbar-container-color: #af4c4c;
  --mdc-snackbar-supporting-text-color: rgb(48, 17, 17);
}